@page "/all"
@inject ILogger<Defenders> Logger 
@inject GetFplDataService FplService 
@rendermode InteractiveServer

<PageTitle>All players</PageTitle>

<h1>All players</h1>

<PlayerTable @ref="_child" Players=typedPlayers ShowPlayerPosition=true></PlayerTable>

@code {
    public List<Player>? typedPlayers { get; set; }

    PlayerTable? _child; 

    protected override async Task OnInitializedAsync(){

        typedPlayers = await FplService.GetPlayers();
        
        await base.OnInitializedAsync();
    } 

    protected override async Task OnAfterRenderAsync(bool firstRender){
        
        if (firstRender && _child!=null)
        {
            await _child.SortTableInvokeJsAsync();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    } 
}


