@page "/defenders"
@inject ILogger<Defenders> Logger 
@inject GetFplDataService fplService 
@using BlazTest.Components.Pages.Components

<PageTitle>Defenders</PageTitle>

<h1>Defenders</h1>

<p>Showing players data</p>

<PlayerTable players="typedPlayers"></PlayerTable>

@code {
    public IEnumerable<Player>? typedPlayers { get; set; }

    protected override async Task OnInitializedAsync(){

        await fplService.taskCompletionSource.Task;

        typedPlayers = fplService.PlayerList.Where(p => p.Position == 2);
        
        await base.OnInitializedAsync();
    } 
}


