@page "/defenders"
@inherits FplBase
@inject ILogger<Defenders> Logger 
@rendermode InteractiveServer

<PageTitle>Defenders</PageTitle>

<h1>Defenders</h1>

<PlayerTable @ref="_child" Players=TypedPlayers></PlayerTable>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        TypedPlayers = TypedPlayers.Where(p => p.Position == 2);
        Logger.LogInformation($"Found {TypedPlayers.Count()} players");
    } 
}


