@page "/defenders"
@inject ILogger<Defenders> Logger 
@using BlazTest.Components.Pages.Components

<PageTitle>Defenders</PageTitle>

<h1>Defenders</h1>

<p>Showing players data</p>

<PlayerTable players="typedPlayers"></PlayerTable>

@code {
    public IEnumerable<Player>? typedPlayers { get; set; }

    protected override async Task OnInitializedAsync(){

        await Home.taskCompletionSource.Task;

        if(Home.Players!=null) {
            typedPlayers = Home.Players.Where(p => p.Position == 2);
        }
        
        await base.OnInitializedAsync();
    } 
}


