@page "/forwards"
@inject ILogger<Forwards> Logger 
@inject GetFplDataService fplService 
@rendermode InteractiveServer

<PageTitle>Forwards</PageTitle>

<h1>Forwards</h1>

<PlayerTable @ref="child" Players="typedPlayers"></PlayerTable>

@code {
    public List<Player>? typedPlayers { get; set; }
    PlayerTable? child; 

    protected override async Task OnInitializedAsync(){

        var players = await fplService.GetPlayers();
        typedPlayers = (List<Player>)players.Where(p => p.Position == 4);
        Logger.LogInformation($"Found {typedPlayers.Count} players");
        
        await base.OnInitializedAsync();
    } 
    
    protected override async Task OnAfterRenderAsync(bool firstRender){
        
        if (firstRender && child!=null)
        {
            await child.SortTableInvokeJsAsync();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    } 
}


