@page "/forwards"
@inherits FplBase
@inject ILogger<Forwards> Logger 
@rendermode InteractiveServer

<PageTitle>Forwards</PageTitle>

<h1>Forwards</h1>

<PlayerTable @ref="_child" Players="TypedPlayers"></PlayerTable>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        TypedPlayers = TypedPlayers.Where(p => p.Position == 4);
        Logger.LogInformation($"Found {TypedPlayers.Count()} players");
    } 
}


