@page "/forwards"
@inject ILogger<Forwards> Logger 
@inject GetFplDataService fplService 
@using BlazTest.Components.Pages.Components

<PageTitle>Forwards</PageTitle>

<h1>Forwards</h1>

<p>Showing players data</p>

<PlayerTable players="typedPlayers"></PlayerTable>

@code {
    public IEnumerable<Player>? typedPlayers { get; set; }

    protected override async Task OnInitializedAsync(){

        await fplService.taskCompletionSource.Task;

        typedPlayers = fplService.PlayerList.Where(p => p.Position == 4);
        
        await base.OnInitializedAsync();
    } 
}


