@page "/forwards"
@inject ILogger<Forwards> Logger 
@using BlazTest.Components.Pages.Components

<PageTitle>Forwards</PageTitle>

<h1>Forwards</h1>

<p>Showing Forward players data</p>

<PlayerTable players="Home.players"></PlayerTable>




