@page "/goalkeepers"
@inject ILogger<Goalkeepers> Logger 
@inject GetFplDataService fplService 
@using BlazTest.Components.Pages.Components
@rendermode InteractiveServer

<PageTitle>Goalkeepers</PageTitle>

<h1>Goalkeepers</h1>

<p>Showing players data</p>

<PlayerTable players="typedPlayers"></PlayerTable>

@code {
    public IEnumerable<Player>? typedPlayers { get; set; }

    protected override async Task OnInitializedAsync(){

        await fplService.taskCompletionSource.Task;

        typedPlayers = fplService.PlayerList.Where(p => p.Position == 1);
        
        await base.OnInitializedAsync();
    } 
}


