@page "/goalkeepers"
@inherits FplBase
@inject ILogger<Goalkeepers> Logger 
@rendermode InteractiveServer

<PageTitle>Goalkeepers</PageTitle>

<h1>Goalkeepers</h1>

<PlayerTable @ref="_child" Players="TypedPlayers"></PlayerTable>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        TypedPlayers = TypedPlayers.Where(p => p.Position == 1);
        Logger.LogInformation($"Found {TypedPlayers.Count()} players");
    } 
}


