@page "/"
@inject ILogger<Home> Logger 
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Fantasy Premier League Data</h1>

This webapp grabs the latest player Data from <a href="https://fantasy.premierleague.com/api/bootstrap-static/">here</a>
and makes it easy to search and filter.

@code {
    protected override void OnInitialized(){
        Logger.LogInformation($"OnInitialized RendererName {RendererInfo.Name} IsInteractive {RendererInfo.IsInteractive}");
    } 

    protected override void OnAfterRender(bool firstRender){
        Logger.LogInformation($"OnAfterRender {firstRender} RendererName {RendererInfo.Name} IsInteractive {RendererInfo.IsInteractive}");
    } 
}
