@page "/"
@inject ILogger<Home> Logger 
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Fantasy Premier league Data</h1>

Welcome

@code {
    
    protected override async Task OnInitializedAsync(){

        Logger.LogInformation("OnInitializedAsync");
        
        await base.OnInitializedAsync();
    } 

    protected override async Task OnAfterRenderAsync(bool firstRender){
        Logger.LogInformation("OnAfterRenderAsync {FirstRender}", firstRender);
        
        await base.OnAfterRenderAsync(firstRender);
    } 
}
