@page "/"
@inject ILogger<Home> Logger 
@inject GetFplDataService fplService 

<PageTitle>Home</PageTitle>

<h1>Fantasy Premier league Data</h1>

Welcome.

@code {
    
    protected override async Task OnInitializedAsync(){

        await fplService.taskCompletionSource.Task;
        
        await base.OnInitializedAsync();
    } 
}
