@page "/midfielders"
@inject ILogger<Midfielders> Logger 
@inject GetFplDataService fplService 
@rendermode InteractiveServer

<PageTitle>Midfielders</PageTitle>

<h1>Midfielders</h1>

<PlayerTable @ref="child" Players="typedPlayers"></PlayerTable>

@code {
    public List<Player>? typedPlayers { get; set; }

    PlayerTable? child; 

    protected override async Task OnInitializedAsync(){

        var players = await fplService.GetPlayers();
        typedPlayers = (List<Player>)players.Where(p => p.Position == 3);
        Logger.LogInformation($"Found {typedPlayers.Count} players");
        
        await base.OnInitializedAsync();
    } 
    
    protected override async Task OnAfterRenderAsync(bool firstRender){
        
        if (firstRender && child!=null)
        {
            await child.SortTableInvokeJsAsync();
        }
        
        await base.OnAfterRenderAsync(firstRender);
    } 
}


