@page "/midfielders"
@inject ILogger<Midfielders> Logger 
@using BlazTest.Components.Pages.Components

<PageTitle>Midfielders</PageTitle>

<h1>Midfielders</h1>

<p>Showing players data</p>

<PlayerTable players="typedPlayers"></PlayerTable>

@code {
    public IEnumerable<Player>? typedPlayers { get; set; }

    protected override async Task OnInitializedAsync(){

        await Home.taskCompletionSource.Task;

        if(Home.Players!=null) {
            typedPlayers = Home.Players.Where(p => p.Position == 3);
        }
        
        await base.OnInitializedAsync();
    } 
}


