@page "/midfielders"
@inject ILogger<Midfielders> Logger 
@inject GetFplDataService fplService 
@using BlazTest.Components.Pages.Components

<PageTitle>Midfielders</PageTitle>

<h1>Midfielders</h1>

<p>Showing players data</p>

<PlayerTable players="typedPlayers"></PlayerTable>

@code {
    public IEnumerable<Player>? typedPlayers { get; set; }

    protected override async Task OnInitializedAsync(){

        await fplService.taskCompletionSource.Task;

        typedPlayers = fplService.PlayerList.Where(p => p.Position == 3);
        
        await base.OnInitializedAsync();
    } 
}


