@page "/midfielders"
@inherits FplBase
@inject ILogger<Midfielders> Logger 
@rendermode InteractiveServer

<PageTitle>Midfielders</PageTitle>

<h1>Midfielders</h1>

<PlayerTable @ref="_child" Players="TypedPlayers"></PlayerTable>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        TypedPlayers = TypedPlayers.Where(p => p.Position == 3);
        Logger.LogInformation($"Found {TypedPlayers.Count()} players");
    } 
}


